<div class="login-wrapper" fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
  
      <form [formGroup]="formLogin" class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="User Email" formControlName="email">
            <small 
                *ngIf="formControl.email.touched && formControl.email.dirty && formControl.email.errors" class="p-error">
                <div translate *ngIf="formControl.email.errors.required">
                    {{formControl.email.errors.required.message}}
                </div>
                <div translate *ngIf="formControl.email.errors.email">
                    {{formControl.email.errors.email.message}}
                </div>
            </small>
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" formControlName="password">
            <small
                *ngIf="formControl.password.touched && formControl.password.dirty && formControl.password.errors" class="p-error">
                <div translate *ngIf="formControl.password.errors.required">
                    {{formControl.password.errors.required.message}}
                </div>
            </small>
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block" [disabled]="!formLogin.valid" (click)="login()">Log in</button>
      </form>
    </mat-card>
  </div>