<div class="login-wrapper" fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Password Reset</mat-card-title>
      </mat-card-header>
  
      <form #form="ngForm" [formGroup]="formForgetPassword" class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="User Email" formControlName="email">
            <small 
                *ngIf="formControl.email.touched && formControl.email.dirty && formControl.email.errors" class="p-error">
                <div translate *ngIf="formControl.email.errors.required">
                    {{formControl.email.errors.required.message}}
                </div>
                <div translate *ngIf="formControl.email.errors.email">
                    {{formControl.email.errors.email.message}}
                </div>
            </small>
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="warning" class="btn-block" [disabled]="!formForgetPassword.valid" (click)="resetPassword()">Reset Password</button>
      </form>
    </mat-card>
  </div>