<mat-toolbar class="app-header">
    <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    Admin Menu
    <span class="nav-tool-items">
        <a mat-button (click)="logOut()" >Log out</a>
    </span>
</mat-toolbar>  

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
      <h4 class="name">John Smith</h4>
      <p class="designation">Software Engineer</p>
  
      <mat-divider></mat-divider>
  
      <button mat-button class="menu-button">
        <mat-icon>person</mat-icon>
        <span>Person's List</span>
      </button>
      
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <app-admin-persons-list></app-admin-persons-list>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>